@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;300;400;700&display=swap);

body {
  background: #212121;
  color: rgb(227, 227, 227);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}

#playButton {
  padding-left: 900px;
  padding-top: 50px;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#playButton img {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

#playButton img:hover {
  opacity: 0.7; } /* Mengurangi opacity saat dihover */

svg path.linear-1 {
  stroke: rgb(180, 180, 180);
  filter: url(#blur-filter);
}

.loading {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.loading svg {
  height: 100%;
}

.loading .linear-1 {
  stroke-dasharray: 281;
  animation: dash 6s infinite linear forwards;
}

.loading .linear-2 {
  stroke-dasharray: 300;
  animation: dash 5s infinite linear forwards;
}

.loading .linear-3 {
  stroke-dasharray: 340;
  animation: dash 4s infinite linear forwards;
}

.loading .linear-4 {
  stroke-dasharray: 400;
  animation: dash 3s infinite linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }
  to {
    stroke-dashoffset: -814;
  }
}

h1 {
  text-shadow: 2px 2px 5px #ff4583;
}

a,
h3 {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e0258f;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
